.contact-controls {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 0 2em;
}

.contact-controls button {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  transition: background-color 0.24s ease;
}

button.selected-contact {
  border: 1px solid #d9d9d9;
  color: var(--clr-success);
}
button.selected-contact:hover {
  background-color: var(--clr-success);
  color: var(--clr-light);
}
button.delete-contact {
  color: var(--clr-danger);
  border: 1px solid var(--clr-danger);
}

button.delete-contact:hover {
  background-color: var(--clr-danger);
  color: var(--clr-light);
}

button.export-contacts {
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}
button.export-contacts:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

table {
  width: 96%;
  margin: 0 2%;
  margin-top: 1em;
  text-align: left;
  font-size: 1.2rem;
  color: #333;
  border-collapse: collapse;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

table thead {
  background-color: #333;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

table th,
table td {
  border-bottom: 1px solid #ddd;
  padding: 1rem 1.2rem;
  font-weight: 400;
}
table a {
  text-decoration: underline;
  color: var(--clr-primary);
}
.contact-footer {
  position: fixed;
  bottom: 0;
  padding: 1.4rem 1.6rem;
  width: 85%;
  background: #f8f9fa;
  border-top: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-footer div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact-footer p {
  font-size: 1.4rem;
  color: #333;
}

.contact-footer p span {
  font-weight: 500;
  color: #000;
}

.contact-footer span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #555;
}

.contact-footer select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-footer select:hover {
  border-color: #007bff;
}

.contact-footer select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.contact-footer .btn {
  gap: 5px;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 0.8rem;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-footer .btn-prev {
  color: #000;
}

.contact-footer .btn-prev:hover {
  background: #0056b3;
  color: white;
}

.contact-footer .btn-next {
  background: #007bff;
  color: white;
}

.contact-footer .btn-next:hover {
  background: #0056b3;
}

.contact-footer .btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  width: 34rem;
  padding: 2rem;
  border-radius: 0.2rem;
  background-color: #fff;
}

.modal-wrapper h2 {
  font-size: 20px;
  margin-top: 1.8em;
  color: var(--clr-dark);
}

.modal-container {
  margin-top: 2em;
}
.modal-container .form-group {
  margin-bottom: 1.4em;
}
.modal-container label {
  color: var(--clr-danger);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  display: block;
}
.modal-container input {
  display: block;
  width: 100%;
  border: 1px solid #d9d9dd;
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin-top: 0.4em;
  font-size: 1.2rem;
}
.modal-container input:focus {
  border: 1px solid var(--clr-primary);
}
.btn-submit {
  width: 100%;
  display: block;
  background-color: var(--clr-success);
  color: var(--clr-light);
  padding: 1rem 1.6rem;
  margin-top: 2em;
  font-size: 1.4rem;
}

button.close-modal {
  position: absolute;
  font-size: 2.8rem;
  color: #545454;
  right: 0;
  top: 0;
  padding: 1.2rem;
}

.modal-container select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  margin-top: 0.4em;
}
